.quote {
    margin: 1em;
    width: 50%;
    margin-left: 47%;
    box-shadow: 4px 0 0 #111;

    &__content {
        padding: .3em .7em;
        text-align: right;
        font-style: italic;
    }
}