.footer {
    margin-top: 3.5em;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        margin: .3em .5em 0 .5em;
        font-size: 1.5em;
    }
}