.article {
    display: flex;
    flex-direction: column;
    border-width: .5px;
    margin-bottom: 2em;
    box-shadow: 0 0 5px #E835E0;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__date {
        font-style: italic;
        font-weight: 300;
    }

    &__overview {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__category {
        margin: .5em;
        padding: .3em 1em;
        margin: 0 .8em .7em 0;
        width: max-content;
        align-self: flex-end;
        font-size: .8em;
    }
}